<div class="container-home">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="BEST OF THE YEAR"
        consolePlatform="Digital | PS4 PS5"
        gamePrice="R$ 249,99">
    </app-card>
    <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="Exclusive"
        consolePlatform="Digital | PS4 PS5"
        gamePrice="R$ 129,99">
    </app-card>
    <app-card
        gameCover="assets/bt-5.jpg"
        gameLabel="Exclusive"
        consolePlatform="Disc | PS4 PS5"
        gamePrice="R$ 139,99">
    </app-card>
    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="New"
        consolePlatform="Disc | PS5"
        gamePrice="R$ 119,99">
    </app-card>
    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="New"
        consolePlatform="Disc | PS5"
        gamePrice="R$ 109,99">
    </app-card>
    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="Exclusive"
        consolePlatform="Disc | PS4"
        gamePrice="R$ 159,99">
    </app-card>

</div>