<div class="menu-bar-container">
    <div class="menu-bar-logo">
        <img   
        src="assets/ps-logo.png" 
        alt="A Playstation Store logo" 
        srcset=""
        width="140px"
        height="32px">
    </div>
    <div class="menu-bar-items">
        <ul>
            <li><a [routerLink]="['https://www.linkedin.com/in/mateus-felipe-ara%C3%BAjo-ba2b18191/']" 
                target="_blank">Linkedin</a></li>
            <li><a [routerLink]="['https://github.com/MattFLPe']"  
                target="_blank">Github</a></li>
        </ul>
    </div>

</div>
